// ==========================================================================
// BASE/_LISTS.SCSS
// ==========================================================================


// Basic Lists
ol {
    margin-left: 1.5em;
}

ul {
    list-style: none;
}

ol>li,
ul>li {
  margin-top: 7px;
  margin-bottom: 7px;
}
