/* ==========================================================================
   HELPERS/_VARIABLES.SCSS
   ========================================================================== */

// Colors
$milky-way: #333;
$constellation: #1E1E1E;
$banshee-glades: #6C0;
$sun-chute: #FF0;
$waterfall: #09F;
$zoomer: #F60;
$black-magic: #111;
$steel-pipes: #6C6D70;
$grizzly-gully: #5A5D5E;
$stoney-trail: #E6E6E6;
$diamond: #000;
$white: #FFF;

// Typography
$neuron: "Neuron", Helvetica, Arial, sans-serif;
$neuronExtraBold: "Neuron Extra Bold", Helvetica, Arial, sans-serif;
$neuronBlack: "Neuron Black", Helvetica, Arial, sans-serif;
$harryObese: "HarryPro-Obese", Helvetica, Arial, sans-serif;

// Breakpoints
$breakpoint-small: 480px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;
$breakpoint-xxxl: 1600px;
